# Ignorar dependencias locales (¡Muy importante!)
**/node_modules
**/dist
**/vendor

# Ignorar logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignorar archivos de Git
.git
.gitignore

# Ignorar archivos de sistema
.DS_Store
Thumbs.db