<IfModule mod_rewrite.c>
    <IfModule mod_headers.c>
        # Borramos cualquier header previo para evitar el "multiple values"
        Header unset Access-Control-Allow-Origin
        Header unset Access-Control-Allow-Credentials
        
        # Dejamos que Laravel ponga los suyos, pero si fallara, 
        # podrías descomentar la siguiente línea como último recurso:
        # Header set Access-Control-Allow-Origin "http://localhost:3000"
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>